# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\elena\Documents\Workspace\DAM\Acceso a Datos\Tema 2\ortiz_sobrino_elena_DI02_Tarea\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
